/*CSS general*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

:root {
    --color_header: #ff6900;
    --color_main: #ffffff;
    --dark_color: #000000;
    --color_discount: #ff0000;
    --color_sost: #008000;
    --color_footer: #1a1a1a;
}

.container {
    max-width: 75rem;
    margin: 0 auto;
}

.grid {
    border: 2px solid black;
}

/*CSS header*/

.flex_header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.container_header {
    max-width: 70rem;
    margin: 0 auto;
}

header {
    height: 4rem;
    background-color: var(--color_header);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-top: 1rem;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.ul_header {
    width: 10.5rem;
}

ul {
    list-style: none;
}

.item {
    color: var(--color_main);
}

.a_item {
    text-decoration: none;
    color: var(--color_main);
}

.text_a:hover {
    text-decoration: underline;
}

.logo {
    max-width: 8rem;
}

.icons {
    width: 4rem;
}

.icon {
    color: var(--color_main);
}

/*CSS main*/

.flex_main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

.img {
    max-width: calc(75rem / 3) - 3rem;
    height: 31rem;
    margin: 1rem 1.5rem 0 1.5rem;
}

.hover_img {
    display: none;
}

.change:hover .img {
    display: none;
}

.change:hover .hover_img {
    display: block;
    cursor: pointer;
}

.change {
    position: relative;
}

.discount {
    position: absolute;
    left: 1.5rem;
    top: 28rem;
    width: 2.7rem;
    height: 1.2rem;
    font-size: 10px;
    text-align: center;
    line-height: 1.2rem;
    color: var(--color_main);
    background-color: var(--color_discount);
}

.sust {
    position: absolute;
    left: 4.3rem;
    top: 28rem;
    width: 4.8rem;
    height: 1.2rem;
    font-size: 11px;
    text-align: center;
    line-height: 1.2rem;
    color: var(--color_main);
    background-color: var(--color_sost);
}

.sust_2 {
    position: absolute;
    left: 1.5rem;
    top: 28rem;
    width: 4.8rem;
    height: 1.2rem;
    font-size: 11px;
    text-align: center;
    line-height: 1.2rem;
    color: var(--color_main);
    background-color: var(--color_sost);
}

.heart {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    color: var(--dark_color);
    font-size: 35px;
    width: 2.5rem;
    background-color: var(--color_main);
    text-align: center;
}

.heart:hover {
    display: block;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    background-color: var(--color_main);
    color: var(--color_discount);
}

.m_t {
    margin-top: 5rem;
}

.m_l {
    margin-left: 1.5rem;
}

.dark_txt {
    color: var(--dark_color);
}

.font {
    font-size: 12px;
}

.font_cloth {
    font-size: 13px;
}
.disc {
    color: var(--color_discount);
    display: inline-block;
}

.dec_disc {
    text-decoration: line-through;
}

.dec_disc_red {
    font-size: 12px;
    color: var(--color_discount);
}

/*CSS footer*/

.flex_footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

footer {
    height: 6rem;
    background-color: var(--color_footer);
}

.m_t {
    margin-top: 2rem;
}