/*CSS general*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color_header: #ff6900;
    --color_main: #ffffff;
    --dark_color: #000000;
    --color_discount: #ff0000;
    --color_sost: #008000;
    --color_footer: #1a1a1a;
}

.container {
    max-width: 75rem;
    margin: 0 auto;
}

.grid {
    border: 2px solid black;
}

/*CSS header*/

header {
    height: 4rem;
    background-color: var(--color_header);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
}

ul {
    list-style: none;
}

.flex_header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

/*CSS main*/

.flex_main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

.img {
    width: calc(75rem / 3) - 2rem;
    height: 31rem;
    margin: 1rem 1rem 0;
}

.m_t {
    margin-top: 2rem;
}

.m_l {
    margin-left: 1rem;
}